<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Oasiswater </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="~/Mobirise v5.1.4, mobirise.com">
    <meta name="viewport" content="~/width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/assets/images/oasis-logo-navy-121x41.png" type="image/x-icon">
    <meta name="description" content="">
    <link href="~/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <title>Home</title>
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">

    <link rel="stylesheet" href="/~assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="preload" as="style" href="~/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">

</head>

<body>


    <section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">

                        <img src="~/assets/images/oasis-logo-navy-121x41.png" alt="Oasis" style="height: 3.8rem;">

                    </span>
                    <div>

                    </div>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7">     @Session["username"]</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">


                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/Home/HomeIndex">Home</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/Tasks/TaskOptions">Task</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/CheckList/GetCheckList">CheckList</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/Employee/DisplayEmployee">employees</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/Products/DisplayProduct">Products</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="~/Home/Logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <div>
        @RenderBody()

    </div>
    <section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">





        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="row row-links">
                    <ul class="foot-menu">





                        <li class="foot-menu-item mbr-fonts-style display-7"></li>
                        <li class="foot-menu-item mbr-fonts-style display-7"></li>
                        <li class="foot-menu-item mbr-fonts-style display-7"></li>
                    </ul>
                </div>
                <div class="row social-row">
                    <div class="social-list align-right pb-2">






                        
                    </div>
                </div>
                <div class="row row-copirayt">
                    <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                        © Copyright 2020 OASIS WATER. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/assets/web/assets/jquery/jquery.min.js"></script>
<script src="~/assets/popper/popper.min.js"></script>
<script src="~/assets/tether/tether.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/smoothscroll/smooth-scroll.js"></script>
<script src="~/assets/dropdown/js/nav-dropdown.js"></script>
<script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="~/assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="~?assets/theme/js/script.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
<!--===============================================================================================-->
