@model IEnumerable<DataAccessLayer.Models.Tasks>

@{
    ViewBag.Title = "GetTask";
    Layout = "~/Views/Shared/" + Session["addtoLayout"].ToString();
}
@using System.Globalization;


<section class="features24 cid-scJcltxsHj" id="features1-17">



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>OPEN TASKS</strong>
                </h3>

            </div>

            <table>
            </table>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-calendar mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Task Start date</strong></h5>

                        @{
                            foreach (var item in Model)
                            {




                                if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]) && item.TaskStatus == "Started")
                                {

                                        <p class="card-text mbr-fonts-style display-7">@item.dateAssigned</p>

                                        <hr />

                                    }
                                


                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Task Status</strong></h5>
                        @{
                            foreach (var item in Model)
                            {

                             

                                    if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]) && item.TaskStatus == "Started")
                                    {
                                        <p class="card-text mbr-fonts-style display-7">@item.TaskStatus</p>

                                        <hr />

                                    }
                                


                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-numbered-list mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Task Detail</strong></h5>
                        @{
                            foreach (var item in Model)
                            {
                                

                                    if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]) && item.TaskStatus == "Started")
                                    {

                                        <p class="card-text mbr-fonts-style display-7">@item.Taskdetail</p>

                                        <hr />

                                    }
                                

                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-pin mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Time remaining</strong></h5>
                        @{
                            foreach (var item in Model)
                            {

                                if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]) && item.TaskStatus == "Started")
                                {
                                    int day = item.dateAssigned.Day - DateTime.Now.Day;
                                    int month = item.dateAssigned.Month - DateTime.Now.Month;
                                    int year = item.dateAssigned.Year - DateTime.Now.Year;
                                    int minute = item.dateAssigned.Minute - DateTime.Now.Minute;
                                    int hour = item.dateAssigned.Hour - DateTime.Now.Hour;

                                    int y = System.Math.Abs(year);
                                    int m = System.Math.Abs(month);

                                    int d = System.Math.Abs(day);
                                    int h = System.Math.Abs(hour);

                                    int mn = System.Math.Abs(minute);


                                    if (h == 1)
                                    {
                                        
                                        <p class="card-text mbr-fonts-style display-7" style="padding-left:60px;">
                                            @mn miutes  &emsp;&emsp;&emsp;  @Html.ActionLink("Complete task", "UpdateTask", new { TaskID = item.id })
                                        </p>
                                    }
                                    else
                                    {
                                      
                                        int timere = System.Math.Abs(mn-60);

                                        <p class="card-text mbr-fonts-style display-7" style="padding-left:60px;">
                                            @timere miutes  &emsp;&emsp;&emsp;  @Html.ActionLink("Complete task", "UpdateTask", new { TaskID = item.id })
                                        </p>
                                    }


                                    <hr />

                                }


                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
           
        </div>
    </div>
</section>








<hr />




























<section class="features24 cid-scJcltxsHj" id="features1-17">



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>CLOSED TASKS</strong>
                </h3>

            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-calendar mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Task Start date</strong></h5>

                        @{
                            foreach (var item in Model)
                            {




                                if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]))
                                {
                                    if (item.TaskStatus == "Completed" || item.TaskStatus == "Auto Completed")
                                    {

                                            <p class="card-text mbr-fonts-style display-7">@item.dateAssigned</p>
                                    }
                                            <hr />

                                        }
                                    
                                

                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-numbered-list mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>oasisTask Detail</strong></h5>
                        @{
                            foreach (var item in Model)
                            {



                                if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]) )
                                {
                                    if (item.TaskStatus == "Completed" || item.TaskStatus == "Auto Completed")
                                    {
                                    <p class="card-text mbr-fonts-style display-7">@item.Taskdetail</p>
                                    }
                                    <hr />

                                }


                            }
                        }
                    </div>
                </div>
            </div>
            <hr />

            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>oasisTask Status</strong></h5>
                        @{
                            foreach (var item in Model)
                            {




                                if (item.Fk_EmployeeID == Convert.ToInt32(Session["userId"]))
                                {
                                    if (item.TaskStatus == "Completed" || item.TaskStatus == "Auto Completed")
                                    {
                                        <p class="card-text mbr-fonts-style display-7">@item.TaskStatus</p>

                                    }

                                    <hr />



                                }

                            }
                        }
                    </div>
                </div>
            </div>
            <hr />

        </div>
    </div>
</section>


